html,
body {
  overflow-x: hidden;
}
/* ----------------Nav1------------ */
.navbar1 {
  height: 40px;
  background-color: rgba(34, 34, 34, 0.93);
}
.p1-1 {
  font-size: 15px;
  font-weight: 600;
}
.p1-2 {
  font-size: 15px;
  font-weight: 600;
}
@media all and (min-width: 992px) {
  .p1-1 {
    position: relative;
  }
}
.p1-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease 0s;
}
.p1-1:hover::after {
  width: 100%;
}

/* --------------Nav2-------------- */
.navbar2 {
  height: 48px;
}
.p2-1 img {
  height: 120px;
}
@media all and (min-width: 992px) {
  .p2-3 {
    width: 117px;
  }
  .navbar2 {
    height: 68px;
  }
  .p2-1 img {
    height: 135px;
  }
}
.p2-4 {
  height: 48px;
  width: 821px;
}
.p2-a {
  display: inline-block;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease-in-out;
}
.p2-a:hover {
  background-color: rgba(67, 61, 61, 0.4);
  color: black;
}

/* -----------Slides under Nav2----------  */
.slider1 {
  width: 100%;
}
@media all and (max-width: 575px) {
  .slider1,
  .slider-img1,
  .slider-img3 {
    height: 512px;
    overflow: hidden;
  }
}
@media all and (min-width: 576px) and (max-width: 991px) {
  .slider1,
  .slider-img1,
  .slider-img3 {
    height: 425px;
    overflow: hidden;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .slider1,
  .slider-img1,
  .slider-img3 {
    height: 450px;
    overflow: hidden;
  }
}
@media all and (min-width: 1200px) and (max-width: 1399px) {
  .slider1,
  .slider-img1,
  .slider-img3 {
    height: 455px;
    overflow: hidden;
  }
}
@media all and (min-width: 1400px) {
  .slider1,
  .slider-img1,
  .slider-img3 {
    height: 512px;
    overflow: hidden;
  }
}
/* -------------P image1----------------  */
.image1-p1 {
  width: 534px;
  height: 275px;
}
@media all and (min-width: 992px) {
  .image1-p1 {
    width: 400px;
    height: 282px;
  }
}
@media all and (max-width: 575px) {
  .image1-p1 {
    width: 360px;
    height: 270px;
  }
}
.a-img1 {
  width: 114px;
  height: 48px;
  background-color: rgb(128, 195, 67);
  font-weight: 600;
}
.p1-image1 {
  font-size: 38px;
  font-weight: 600;
}
.carousel-control {
  width: 100px;
}
/* -------------P image3----------------  */
.image3-p1 {
  width: 534px;
  height: 275px;
}
@media all and (min-width: 992px) {
  .image3-p1 {
    width: 400px;
    height: 282px;
  }
}
@media all and (max-width: 575px) {
  .image3-p1 {
    width: 360px;
    height: 270px;
  }
}
.p1-image3 {
  font-size: 40px;
  font-weight: 600;
}
/* -------------------------slider2----------------  */
.slider2 {
  width: 100%;
  height: 433px;
}
/* -----------------header----------------- */
.section__header {
  width: 400px;
  height: 194px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header1 {
  text-align: center;
  font-size: 33px;
  font-weight: 600;
}
/* ----------cards----------  */
.cards-1 {
  height: 192px;
}
.card {
  width: 120px;
  height: 167px;
  border: 0 solid white;
}
.cards-image {
  width: 120px;
  height: 107px;
}
@media all and (max-width: 575px) {
}
@media all and (min-width: 576px) and (max-width: 767px) {
  .section__header {
    width: 587px;
    height: 57px;
  }
  .slider2 {
    height: 416px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .section__header {
    width: 768px;
    height: 60px;
  }
  .slider2 {
    height: 418px;
  }
  .cards-1 {
    height: 211px;
  }
  .card {
    width: 170px;
    height: 187px;
  }
  .cards-image {
    width: 170px;
    height: 127px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .section__header {
    width: 984px;
    height: 62px;
  }
  .slider2 {
    height: 457px;
  }
  .cards-1 {
    height: 238px;
  }
  .card {
    width: 206px;
    height: 214px;
  }
  .cards-image {
    width: 206px;
    height: 154px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1399px) {
  .section__header {
    width: 1260px;
    height: 66px;
  }
  .slider2 {
    height: 477px;
  }
  .card {
    width: 206px;
    height: 214px;
  }
  .cards-image {
    width: 206px;
    height: 154px;
  }
}
@media all and (min-width: 1400px) {
  .section__header {
    width: 1428px;
    height: 67px;
  }
  .slider2 {
    height: 487px;
  }
  .cards-1 {
    height: 246px;
  }
  .card {
    width: 215px;
    height: 221px;
  }
  .cards-image {
    width: 214px;
    height: 160px;
  }
}
.card-text {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
.card .card-body p {
  font-weight: normal;
  transition: font-weight 0.15s ease-in-out 0s;
}
.card:hover .card-body p {
  font-weight: bold;
}
.slider3-img{
   height: 316px;
}